html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
main,
button,
input,
select {
    font-family: 'Raleway',
        sans-serif;
}

body {
    height: 100vh;
    text-align: center;
    position: relative;
    /* background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 202, 202, 0) 33.33%, rgba(232, 203, 203, 0.51) 100%); */
      /* background: linear-gradient(to right, #fbd3e9, #bb377d); */
        /* background: linear-gradient(to right, #b993d6, #8ca6db);  */

          background: linear-gradient(to right, #e55d87, #5fc3e4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header>img {
    width: 5%;
    margin: auto -20px;
    z-index: -1;
}

header {
    padding: 1.2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #844c53;
    color: white;
    border: none;
    padding: 1.2vmin 6vmin;
    margin: 2% auto;
}

button:hover {
    background-color: #49292d;
    transition: 0.2;
}

h1 {
    color: white;
    font-family: 'Fredoka One',
        cursive;
    font-size: 5vh;
    text-shadow: 0 1px 0 hsl(0, 14%, 78%),
        0 2px 0 hsl(0, 5%, 75%),
        0 3px 0 hsl(0, 5%, 70%),
        0 4px 0 hsl(0, 5%, 66%),
        0 5px 0 hsl(0, 5%, 64%),
        0 6px 0 hsl(0, 5%, 62%),
        0 7px 0 hsl(0, 5%, 61%),
        0 8px 0 hsl(0, 5%, 60%),

        0 0 5px rgba(0, 0, 0, .05),
        0 1px 3px rgba(0, 0, 0, .2),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .2),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .3);
}

#heading-main {
    font-size: 3rem;
}

h2 {
    margin-bottom: 2%;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 5%;
}

ul>li>img {
    width: 5vw;
}

a {
    padding: 1.2vmin 6vmin;
    margin: 2% auto;
    background-color: #d69e92;
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: #86655e;
    transition: 0.2s;
}

.animated {
    animation: float 1.5s linear infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

ul>li>img:hover {
    transform: translateY(-5px);
}

.title {
    position: absolute;
    top: 0;
    left: 5;
}

#customize-players {
    display: flex;
    flex-direction: column;
}

.color {
    margin-top: 5%;
}

label,
input {
    display: block;
    margin: 2% auto;
}

input {
    padding: 0.8% 1.2%;
    font-size: 1.2rem;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: none;
    border-bottom: 2px solid #49292d;
}

input:focus {
    background-color: #F1FFF8;
    transition: 0.2s;
    outline: none;
}


.player-card {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 4% auto;
    padding: 3%;
    /* background-color: bisque; */
    background: #B2FEFA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */







    border-radius: 80px;
    -webkit-box-shadow: 10px 17px 36px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 10px 17px 36px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 10px 17px 36px 0px rgba(0, 0, 0, 0.55);
}

.modal-button{
    width: 160px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    transition: 0.5s ease-in-out;
}
.modal-button:hover{
    background-color: violet;
    color: white;
}

footer {
    position: absolute;
    right: 5%;
    bottom: 1%;
}

footer>img {
    width: 15vw;
}

/**** INDEX STYLING END ****/

/**** GAME STYLING START ****/

.board-container {
    height: 90vmin;
    width: 90vmin;
}

#board,
.side {
    display: inline-block;
}

.side {
    padding-top: 10%;
    width: 30vmin;
}

.side:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.piece {
    width: 5vmin;
    position: absolute;
    top: 0;
    left: 5%;
    z-index: 100;
}

main {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-evenly;
}

.arrow {
    position: absolute;
    z-index: 200;
    width: 5vmin;
}

.arrow:nth-of-type(odd) {
    right: -7%;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.arrow:nth-of-type(even) {
    left: -7%;
}

/* Arrows styling start */

#arrow1 {
    bottom: 7%;
}

#arrow2 {
    bottom: 17%;
}

#arrow3 {
    bottom: 27%;
}

#arrow4 {
    bottom: 37%;
}

#arrow5 {
    bottom: 47%;
}

#arrow6 {
    bottom: 57%;
}

#arrow7 {
    bottom: 67%;
}

#arrow8 {
    bottom: 77%;
}



/* Board */

#board {
    width: 85vmin;
    height: 85vmin;
    -webkit-box-shadow: 10px 17px 36px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 10px 17px 36px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 10px 17px 36px 0px rgba(0, 0, 0, 0.55);
    position: relative
}
/* set background image properly without disturbing  game board */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./assets/nature2.jpg') no-repeat center center;
  background-size: cover;
  z-index: -1; 
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.row:nth-of-type(even) {
    flex-direction: row-reverse;
}

.pos {
    width: 8.5vmin;
    height: 8.5vmin;
    position: relative;
    font-size: 0.4em;
    border-radius: 10%;
}

.pos>p {
    position: absolute;
    bottom: 8%;
    right: 8%;
}

#pos0 {
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5% auto;
    background-color: white;
}

#pos0>.piece {
    position: initial;
}

.pos:nth-of-type(odd) {
    background-color:  lightblue;
    color: #252726;
}
.pos:nth-of-type(even) {
    background-color:  #ec7fec;
    color:  paleturquoise;
}
/* board 100 box styling start  */


.ladder,
.snake {
    position: absolute;
    width: 23vmin;
    filter: brightness(1.2);
}

/* Ladders  styling start*/

/* climb ladder from 2 to 38 */

#ladder2-38 {
    width: 20vmin;
    margin-top: -280%;
    margin-left: -60%;
}
/* climb ladder from 5 to 14 */

#ladder5-14 {
    margin-top: -130%;
    margin-left: -32%;
}
/* climb ladder from 9 to 31 */

#ladder9-31 {
    width: 18vmin;
    margin-top: -270%;
    margin-left: -70%;
}

/* climb ladder from 28 to 84 */

#ladder28-84 {
    position: relative;
    z-index: 10;
    margin-top: -580%;
    margin-left: -390%;
    width: 39vmin;
}
/* climb ladder from 36 to 44 */

#ladder36-44 {
    position: relative;
    z-index: 32;
    margin-top: -80%;
    margin-left: -92%;
    width: 14vmin;
}
/* climb ladder from 40 to 42 */

#ladder40-42 {
    position: relative;
    z-index: 30;
    margin-top: -85%;
    margin-left: 20%;
    width: 12vmin;
}
 /* climb ladder from 51 to 67 */

#ladder51-67 {
    position: relative;
    z-index: 10;
    margin-top: -130%;
    margin-left: -300%;
    width: 30vmin;
}
/* climb ladder from 71 to 91 */

#ladder71-91 {
    position: relative;
    z-index: 30;
    margin-top: -150%;
    width: 8vmin;
}
/* climb ladder from 80 to 100 */

#ladder80-100 {
    position: relative;
    z-index: 30;
    margin-top: -160%;
    width: 9vmin;
}


/* snakes styling start */
 /* snake from 16 to 6 */
#snake16-6 {
    position: absolute;
    z-index: 30;
    margin-top: 20%;
    margin-left: -20%;
    width: 12vmin;
    transform: rotate(-120deg);
}
 /* snake from 47 to 26 */
#snake47-26 {
    position: absolute;
    z-index: 30;
    margin-top: 33%;
    margin-left: -150%;
    width: 18vmin;
    transform: rotate(-30deg);
}
 /* snake from 49 to 11 */
#snake49-11 {
    position: absolute;
    z-index: 30;
    margin-top: 30%;
    margin-left: -60%;
    width: 18vmin;
}
/* snake from 56 to 53 */
#snake56-53 {
    position: absolute;
    z-index: 30;
    margin-top: -30%;
    margin-left: -260%;

    width: 22vmin;
}
 /* snke from 62 to 19 */
#snake62-19 {
    position: absolute;
    z-index: 10;
    margin-left: -120%;
    margin-top: 14%;
    width: 24vmin;
    transform: rotate(30deg);
}
/* snake from 64 to 60 */
#snake64-60 {
    position: absolute;
    z-index: 31;
    margin-top: 5%;
    margin-left: -300%;
    width: 25vmin;
    transform: rotate(-25deg);
}
/* snake from 87 to 24 */
#snake87-24 {
    position: absolute;
    z-index: 30;
    margin-top: 5%;
    margin-left: -320%;
    width: 35vmin;
    transform: rotate(50deg);
}
/* snake from 93 to 73 */
#snake93-73 {
    position: absolute;
    z-index: 30;
    margin-top: 50%;
    margin-left: -100%;
    width: 15vmin;
    transform: rotate(-60deg);
}
 /* snake from 95 to 75 */
#snake95-75 {
    position: absolute;
    margin-top: 50%;
    z-index: 30;
    margin-left: -100%;
    width: 15vmin;
    transform: rotate(-60deg);
}
/* snake from 98 to 78 */
#snake98-78 {
    position: absolute;
    margin-top: 45%;
    z-index: 30;
    margin-left: -90%;
    width: 15vmin;
    transform: rotate(-60deg);
}


#dice {
    margin-top: 35%;
    width: 50%;
}

#new-game {
    position: absolute;
    width: 50%;
    top: 12vw;
    left: 25vw;
    filter: grayscale(0%);
}
.stopMusic{
    position: absolute;
    top: 10%;
    left: 76%;
    
}
.playMusic{
    position: absolute;
    top: 10%;
    left: 88%;
}
/* codepen button style start  */
.containerBtn{
    position: absolute;
    top: 12%;
    left: 80%;
}


/* credit section styling start here  */



.contact a{
    width: 15px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}
.contact h2{
    font-family: Arial, Helvetica, sans-serif;
}
.contact a img{
    width: 20px;
    margin-bottom: 1px;
    margin-left: 4px;
    margin-top: 4px;
}
.contact a:hover{
    color: black;
    /* background-color: plum; */
}

/* music control button styling start  */

.music-button{
    position: absolute;
    left: 80%;
    top: 15%;
}
.play{
    width: 120px;
    height: 35px;
    border-radius: 10px;
}
.stop{
    width: 120px;
    height: 35%;
    border-radius: 10px;
}